.ms_bg_blue{
    background-color: rgb(4, 4, 58);
}

.bg_color{
    background-color: mediumturquoise;
}

.s_color{
    color: mediumturquoise;
}

#ms2_color{
    color: white;
}

#ms2_bgcolor{
    background-color: white;
}

.ms_color{
    color: white;
}

.msbg_color{
    background-color: white;
}

.ms_width{
    height: 5px;
    width: 200px;
    display: inline-block;
}

.ms_inline{
    display: inline-block;
}

.msbg_colorb{
    background-color: black;
}

.ms_colorb{
    color: black;
}

.msbg_colorc{
    background-color: rgb(60, 58, 58);
}

.ms_pt10{
    padding-top: 100px;
}

.ms_border_color{
    border: 1px solid white;
}

.ms_width_100{
    border: 0;
    border-bottom: 2px solid lightgray;
    width: 100%;
}

.ms_border{
    border: 0;
}

.ms_height{
    height: 295px;
    width: 407px;
    cursor: pointer;
    font-size: 100px;
    display: none;
}

.ms_position_absolute{
    position: absolute;
    top: 1001px;
    left: 124px;
}

.ms_display:hover .ms_height{
    display: block;
}

.ms_fontsize{
    font-size: 20px;
}










