.bg_color{
    background-color: mediumturquoise;
}

.ms_color{
    color: white;
}

.msbg_color{
    background-color: white;
}

.ms_width{
    height: 5px;
    width: 200px;
    display: inline-block;
}

.ms_inline{
    display: inline-block;
}

.msbg_colorb{
    background-color: black;
}

.ms2_width{
    width: 1250px;
}

.ms_p8{
    padding: 80px;
}




